keycloakx:
  proxy:
    enabled: true
    mode: "xforwarded"

  command:
    - "/opt/keycloak/bin/kc.sh"
    - "start"
    - "--http-port=8080"
    - "--verbose"
    - "--log-level=INFO"
    - "--hostname=keycloak.berlin-united.com"

  database:
    vendor: postgres
    port: 5432
    database: "keycloak"
    hostname: keycloak-postgres-rw.keycloak.svc.cluster.local
    username: keycloak

  dbchecker:
    enabled: true
    
  ingress:
    enabled: true
    ingressClassName: "nginx"
    tls:
      - hosts: 
          - "keycloak.berlin-united.com"
        secretName: tls-cert-keycloak
    rules:
      - host: "keycloak.berlin-united.com"
        paths: 
          - path: "/"
            pathType: ImplementationSpecific
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      nginx.ingress.kubernetes.io/proxy-buffer-size: "128k"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      # These are critical:
      nginx.ingress.kubernetes.io/configuration-snippet: |
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-Port 443;

  serviceMonitor:
    enabled: true

  extraEnvFrom: |
    - secretRef:
        name: keycloak-envs
