is_dev: true
minio:
  replicas: 2
  pools: 1
  mode: standalone

  resources:
    requests:
      memory: 2Gi

  persistence:
    size: 10Gi

  ingress:
    enabled: false
  
  consoleIngress:
    enabled: false

  existingSecret: "minio-secret"
